body {
	position: relative;
	padding: 0;
	opacity: 0;
	background-color: BLACK;
	background: url(background.jpg);
    background-repeat: no-repeat;
	background-size: cover;
}
.linkBTN {
	position: absolute;
	padding-top: 13%;
	width:35.7vw;
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
    text-decoration: none;
}
#btn1 {
	margin-left: 56vw;
	margin-top: 69.1%;
}
#btn2 {
	margin-left: 56vw;
	margin-top: 106.7%;
}
#btn3 {
	margin-left: 56vw;
	margin-top: 144.7%;
}