.btn {
	display: inline-block;
	color: inherit;
	font: 2rem "PT Sans", sans-serif;
	border: 0;
	outline: 0;
	padding: 0;
	transition: all 200ms ease-in;
	cursor: pointer;
	margin-left: -96px;
	background: WHITE;
	color: BLACK;
	font-weight: BOLD;
	box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.1);
	border-radius: 2px;
	padding: 12px 36px;
}
.btn--primary:active {
	background: #7f8ff4;
	box-shadow: inset 0 0 10px 2px rgba(0, 0, 0, 0.2);
}
.btn--primary:hover {
	background: #6c7ff2;
}
.form__field {
	margin:auto;
	border-width: 5px;
	width: 70%;
	font-weight: BOLD;
	background: BLACK;
	color: WHITE;
	border-color: WHITE;
	font: 2rem "PT Sans", sans-serif;
	outline: 0;
	padding: 22px 18px;
}