body {
	background: url(../background.png);
	height: 100%; 
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
.form__field {
	font-weight: BOLD;
	background-color: inherit;
	color: white;
	font: 2rem "PT Sans", sans-serif;
	outline: 0;
	border: 0;
	padding-left: 30px;
    line-height: 130px;
}
#spinBTN {
	position: absolute;
	z-index: 3;
	width: 33%;
	left: 33%;
	top: 34.5%;
}
#interact {
    margin: auto;
    width: 70%;
	height: 200px;
	background: url(../textbox.png) no-repeat;
}
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: white;
    opacity: 1; /* Firefox */
}